
body{
  margin : 0px;
  background-color: #385f71;
  color: #f1feff;
  font-family: 'Source Sans Pro';
}
#titre{
  text-decoration: underline;
  font-family: 'Source Sans Pro';
}

.pres_site{
  font-size: 20px;
  display: block;
  background-color: #2b4162;
  border: solid #1c2f38;
  padding: 10px;
}

a{
  color : #f1feff;
  text-decoration: none;
  font-family: 'Source Sans Pro';
}

.pres_site > p{
  margin:  0px;
}



#header{
  height: 100px;
  width: 100%;
  background-color: #f5f0f6;
  display: flex;
  font-family: 'Source Sans Pro';
}

#titre_site{
  margin: 0px;
  padding: 30px;
  color:#2b4162;
  font-family: 'Source Sans Pro';
}

#bt_creation{
  padding: 26px 27px;
}

#content{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 40px;
  /* display : flex; */
  flex-direction: column;
  font-family: 'Source Sans Pro';
}

.affiche_item{
  display: flex;
  flex-direction: row;
}

#imageItem{
  height: 400px;
  width: 400px;
}

.info_reserv{
  margin:10px;

}
.info_reserv > form{
  display: flex;
  flex-direction: column;
}


.liste{
  display: block;
  padding: 10px;
  border: solid #1c2f38;
  margin-top: 70px;
  margin-bottom: 20px;
}
.titre_liste{
  font-size: 25px;
}

#bt_liste{
  margin: 10px;
}
#message_reserv{
  font-style: italic;
  font-size: 20px;
}

#nom_reserv{
  font-size: 20px;
}

.item_liste{
  background-color: #2b4162;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  text-align: justify;
  border: solid #1c2f38;
  height: 2 00px;
  width: 250px;
}

#parametres{
  margin: 10px;
  margin-top: 20px;
  margin-left: 0px;
}
#img_item_liste{
  width: 250px;
  height: 250px;
}

.nom_item{
  font-size: 18px;
  margin: 5px;
  font-family: 'Source Sans Pro';
}
.item{
  background-color: #2b4162;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  text-align: justify;
  border: solid #1c2f38;
  width: 500px;
}
#img_item{
  width: 500px;
  height: 500px;
}



.bouton {
  background-color: #8f754f;
  border: none;
  color: white;
  padding: 10px 27px;
  margin:10px;
  text-align: center;
  font-size: 16px;
  font-family: 'Source Sans Pro';
}

.bouton:hover {
  background-color: #7f6846;
  color: white;
  padding: 10px 27px;
  text-align: center;
  font-size: 16px;
}

h4{margin: 0px;}

p{
  font-family: 'Source Sans Pro';
}



